/*MailChimp Color Pallet*/
/*Global Presets*/
* {
  font-family: 'Helvetica Neue', sans-serif;
}
a {
  color: #000;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
a:hover,
a:focus,
a:active {
  background-color: transparent !important;
  color: #666;
}
.call-to-action {
  font-size: 20px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0px;
  background-color: #e85c41;
  color: #fff !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  padding: 10px !important;
}
.call-to-action:hover {
  background-color: #e13b1b !important;
}
.call-to-action:active {
  background-color: #d4381a !important;
}
.call-to-action:focus {
  background-color: #e54527 !important;
}
/*++++++++++++++++ Header ++++++++++++++++*/
.navbar {
  height: 60px;
  margin: 0;
  padding: 0 25px 0 25px;
  background-color: #fff;
}
.navbar a {
  margin-top: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.navbar .call-to-action {
  font-size: 14px;
  margin-top: 10px !important;
  display: inline-block !important;
}
.navbar .hidden-sm {
  position: absolute;
  left: 37%;
}
.navbar-brand {
  padding: 5px 10px 10px 10px;
  height: 60px;
  margin: -5px 20px 0 0;
}
.navbar-brand img {
  height: 100%;
}
.navbar-right {
  margin-right: 0px;
}
.navbar-toggle {
  border: 1px solid #e85c41;
}
.navbar-toggle span {
  background-color: #e85c41;
}
/*++++++++++++++++ Jumbotron ++++++++++++++++*/
.jumbotron {
  background-color: #eaeaea;
  padding: 10px 0 0 0;
  margin-bottom: 150px;
}
.jumbotron h1 {
  margin: 80px 0px 40px 0px;
  padding: 10px 0 10px 0;
  color: #373737;
}
.jumbotron h1 span {
  display: block;
}
.jumbotron div.text-center {
  height: 50px;
}
.jumbotron .row {
  margin: 0px;
}
.main-graphic {
  z-index: 50;
  border: 2px solid #239ab9;
  background-color: #239ab9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-width: 15px;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: fadeIn 1s ease-in forwards;
  -moz-animation: fadeIn 1s ease-in forwards;
  -o-animation: fadeIn 1s ease-in forwards;
  -ms-animation: fadeIn 1s ease-in forwards;
  animation: fadeIn 1s ease-in forwards;
}
.drag-drop {
  position: absolute;
  z-index: 100;
  width: 19.5%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: dragAndDrop 1s 2s ease-in-out forwards;
  -moz-animation: dragAndDrop 1s 2s ease-in-out forwards;
  -o-animation: dragAndDrop 1s 2s ease-in-out forwards;
  -ms-animation: dragAndDrop 1s 2s ease-in-out forwards;
  animation: dragAndDrop 1s 2s ease-in-out forwards;
}
.drag-drop .glyphicon {
  position: absolute;
  font-size: 20px;
  right: -10%;
  top: 90%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: fadeOut 0.5s 3s forwards;
  -moz-animation: fadeOut 0.5s 3s forwards;
  -o-animation: fadeOut 0.5s 3s forwards;
  -ms-animation: fadeOut 0.5s 3s forwards;
  animation: fadeOut 0.5s 3s forwards;
}
.drag-drop img {
  width: 100%;
}
/*++++++++++++++++ Reviews ++++++++++++++++*/
.reviews .img-responsive {
  width: 250px;
  display: inline;
  border: 3px solid #52bad5;
}
.reviews h2 {
  color: #373737;
}
/*++++++++++++++++ Features ++++++++++++++++*/
.feature-graphic-container {
  width: 90%;
  margin-left: 5%;
  border: 2px solid #239ab9;
  background-color: #239ab9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-width: 15px;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.featurette-divider {
  margin: 60px 0 60px 0;
  border-color: #52bad5;
  border-width: 2px;
}
.feature-graphic {
  width: 100%;
}
.feature-graphic-header {
  height: 30px;
  background-color: #373737;
}
.feature-graphic-header img {
  height: 25px;
  margin: 3px 0 0 5px;
}
.feature-graphic-header span {
  color: #fff;
  padding: 6px 10px 0 0;
  font-size: 12px;
}
.featurette h3 {
  margin-top: 10px;
}
.featurette .col-md-5 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.featurette p {
  margin-top: 40px;
  margin-bottom: 40px;
}
.feature-fade-in {
  -webkit-animation: featureFadeIn 0.8s ease-in forwards;
  -moz-animation: featureFadeIn 0.8s ease-in forwards;
  -o-animation: featureFadeIn 0.8s ease-in forwards;
  -ms-animation: featureFadeIn 0.8s ease-in forwards;
  animation: featureFadeIn 0.8s ease-in forwards;
}
/*++++++++++++++++ Footer ++++++++++++++++*/
footer img {
  height: 30px;
}
/* Animations */
/*++++++++++++++++ Media Screen Edits ++++++++++++++++*/
/*Larger then 760*/
@media screen and (min-width: 760px) {
  .jumbotron h1 {
    font-size: 40px;
  }
}
/*Smaller than 760*/
@media screen and (max-width: 760px) {
  #navbar {
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  }
  #navbar .call-to-action {
    margin-left: 10px !important;
    display: inline-block !important;
  }
  .feature-graphic-container {
    width: 80%;
    margin-left: 10%;
  }
  .drag-drop {
    width: 18%;
    -webkit-animation: dragAndDropSmall 1s 2s ease-in-out forwards;
    -moz-animation: dragAndDropSmall 1s 2s ease-in-out forwards;
    -o-animation: dragAndDropSmall 1s 2s ease-in-out forwards;
    -ms-animation: dragAndDropSmall 1s 2s ease-in-out forwards;
    animation: dragAndDropSmall 1s 2s ease-in-out forwards;
  }
  .reviews .col-lg-4 {
    margin-bottom: 50px;
  }
}
/* Smaller than 400px */
@media screen and (max-width: 400px) {
  .navbar {
    padding: 0 5px 0 5px;
  }
  .navbar-toggle {
    margin-right: 0px;
  }
  .navbar-brand {
    padding-left: 0px;
  }
  .jumbotron {
    margin-bottom: 75px;
  }
  .feature-graphic-container {
    width: 100%;
    margin-left: 0%;
  }
  .featurette-divider {
    margin: 30px 0 15px 0;
  }
  .featurette .lead {
    margin-top: 20px;
  }
  footer img {
    height: 25px;
  }
  footer p {
    font-size: 12px;
  }
  footer p .pull-right {
    padding-top: 4px;
  }
}
@-moz-keyframes featureFadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes featureFadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes featureFadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes featureFadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes dragAndDrop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75%;
    left: 74%;
  }
}
@-webkit-keyframes dragAndDrop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75%;
    left: 74%;
  }
}
@-o-keyframes dragAndDrop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75%;
    left: 74%;
  }
}
@keyframes dragAndDrop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75%;
    left: 74%;
  }
}
@-moz-keyframes dragAndDropSmall {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75.2%;
    left: 73.3%;
  }
}
@-webkit-keyframes dragAndDropSmall {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75.2%;
    left: 73.3%;
  }
}
@-o-keyframes dragAndDropSmall {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75.2%;
    left: 73.3%;
  }
}
@keyframes dragAndDropSmall {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: 30.5%;
    left: 4.3%;
  }
  10% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 75.2%;
    left: 73.3%;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
