@import 'nib'
  
/*MailChimp Color Pallet*/

chimpBlue = rgb(35, 154, 185)
chimpLightBlue = rgb(82, 186, 213)
chimpLightestBlue = rgb(109, 197, 220)
  
chimpCharcoalGrey = #373737
chimpGrey = rgb(93, 92, 93)
chimpLightGrey = rgb(183, 183, 183)
offWhite = #eaeaea

chimpOrange = #e85c41



/*Global Presets*/

*
  font-family 'Helvetica Neue', sans-serif
a
  color black
  transition .2s
  &:hover, &:focus, &:active
    background-color transparent !important
    color lighten(black, 40%)
  
.call-to-action
  font-size 20px
  cursor pointer
  border-radius 3px
  border 0px
  background-color chimpOrange
  color white !important
  transition .2s
  padding 10px !important
  &:hover
    background-color darken(chimpOrange, 15%) !important 
  &:active
    background-color darken(chimpOrange, 20%) !important  
  &:focus
    background-color darken(chimpOrange, 10%) !important

/*Header*/ 
.navbar
  height 60px
  margin 0
  padding 0 25px 0 25px
  background-color white
  a 
    margin-top 5px
    border-radius 3px
  .call-to-action
    font-size 14px
    margin-top 10px !important
    display inline-block !important
.navbar-brand
  padding 5px 10px 10px 10px
  height 60px
  margin -5px 20px 0 0
  img 
    height 100%
.navbar-right
  margin-right 0px
    
.navbar-toggle
  border 1px solid chimpOrange
  span 
    background-color: chimpOrange

  
/*Jumbotron*/

.jumbotron
  background-color offWhite
  padding 10px 0 0 0
  margin-bottom 150px
  h1
    margin 60px 60px 10px 60px
    padding 10px 0 10px 0
    color chimpCharcoalGrey
    span 
      display block
  div.text-center
    height 50px
  .row
    margin 0px

#animation-1 + span
  animation-delay .1s
#animation-1 + span + span
  animation-delay .2s
    
.main-graphic
  z-index 50
  border 2px solid chimpBlue
  background-color chimpBlue
  border-radius 5px
  border-top-width 15px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4)
  opacity 0
  animation fadeIn 1s ease-in forwards
  
@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
  
.drag-drop
  position absolute
  z-index 100
  width 19.5%
  opacity 0
  animation dragAndDrop 1s 2s ease-in-out forwards
  .glyphicon 
    position absolute
    font-size 20px
    right -10%
    top 90%
    transform rotate(45deg)
  img 
    width 100%
    
@keyframes dragAndDrop
  0%
    opacity 0
    top 30.5%
    left 4.3%
  10%
    opacity 1
  100%
    opacity 1
    top 75%
    left 74%
    

/*Reviews*/

.reviews
  .img-responsive
    width 250px
    display inline
    border 3px solid chimpLightBlue
  h2
    color chimpCharcoalGrey
    
/*Features*/

.feature-graphic-container
  width 100%
  border 2px solid chimpBlue
  background-color chimpBlue
  border-radius 5px
  border-top-width 15px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4)
  
.featurette-divider
  margin 60px 0 60px 0
  border-color chimpLightBlue
  border-width 2px
.feature-graphic
  width 100%
.feature-graphic-header
  height 30px
  background-color chimpCharcoalGrey
  img 
    height 25px
    margin 3px 0 0 5px
  span 
    color white
    padding 6px 10px 0 0
    font-size 12px
.featurette
  p 
    margin-top 40px
    margin-bottom 40px
/*Footer*/

footer
  img 
    height 30px

/*Media Screen Edits*/

  /*Larger then medium*/
@media screen and (min-width: 760px)
  .jumbotron
    h1
      font-size 40px

  /*Smaller then medium*/
@media screen and (max-width: 760px)
  #navbar
    background-color white
    border-radius 3px
    box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4)
    .call-to-action
      margin-left 10px !important
      display inline-block !important
      
  .jumbotron
    min-height 400px
