@import 'nib'
  
/*MailChimp Color Pallet*/

chimpBlue = rgb(35, 154, 185)
chimpLightBlue = rgb(82, 186, 213)
chimpLightestBlue = rgb(109, 197, 220)
  
chimpCharcoalGrey = #373737
chimpGrey = rgb(93, 92, 93)
chimpLightGrey = rgb(183, 183, 183)
offWhite = #eaeaea

chimpOrange = #e85c41



/*Global Presets*/

*
  font-family 'Helvetica Neue', sans-serif
a
  color black
  transition .2s
  &:hover, &:focus, &:active
    background-color transparent !important
    color lighten(black, 40%)
  
.call-to-action
  font-size 20px
  cursor pointer
  border-radius 3px
  border 0px
  background-color chimpOrange
  color white !important
  transition .2s
  padding 10px !important
  &:hover
    background-color darken(chimpOrange, 15%) !important 
  &:active
    background-color darken(chimpOrange, 20%) !important  
  &:focus
    background-color darken(chimpOrange, 10%) !important

/*++++++++++++++++ Header ++++++++++++++++*/ 

.navbar
  height 60px
  margin 0
  padding 0 25px 0 25px
  background-color white
  a 
    margin-top 5px
    border-radius 3px
  .call-to-action
    font-size 14px
    margin-top 10px !important
    display inline-block !important
  .hidden-sm
    position absolute
    left 37%
.navbar-brand
  padding 5px 10px 10px 10px
  height 60px
  margin -5px 20px 0 0
  img 
    height 100%
.navbar-right
  margin-right 0px
    
.navbar-toggle
  border 1px solid chimpOrange
  span 
    background-color: chimpOrange

  
/*++++++++++++++++ Jumbotron ++++++++++++++++*/

.jumbotron
  background-color offWhite
  padding 10px 0 0 0
  margin-bottom 150px 
  h1
    margin 80px 0px 40px 0px
    padding 10px 0 10px 0
    color chimpCharcoalGrey
    span 
      display block
  div.text-center
    height 50px
  .row
    margin 0px
    
.main-graphic
  z-index 50
  border 2px solid chimpBlue
  background-color chimpBlue
  border-radius 5px
  border-top-width 15px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4)
.main-graphic-animation
  opacity 0
  animation fadeIn 1s ease-in forwards
  
.drag-drop
  position absolute
  z-index 100
  width 19.5%
  opacity 0
  animation dragAndDrop 1s 2s ease-in-out forwards
  .glyphicon 
    position absolute
    font-size 20px
    right -10%
    top 90%
    transform rotate(45deg)
    animation fadeOut .5s 3s forwards
  img 
    width 100%
    

    

/*++++++++++++++++ Reviews ++++++++++++++++*/

.reviews
  .img-responsive
    width 250px
    display inline
    border 3px solid chimpLightBlue
  h2
    color chimpCharcoalGrey
    
    
/*++++++++++++++++ Features ++++++++++++++++*/

.feature-graphic-container
  width 90%
  margin-left 5%
  border 2px solid chimpBlue
  background-color chimpBlue
  border-radius 5px
  border-top-width 15px
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4) 
.featurette-divider
  margin 60px 0 60px 0
  border-color chimpLightBlue
  border-width 2px
.feature-graphic
  width 100%
.feature-graphic-header
  height 30px
  background-color chimpCharcoalGrey
  img 
    height 25px
    margin 3px 0 0 5px
  span 
    color white
    padding 6px 10px 0 0
    font-size 12px
.featurette
  h3
    margin-top 10px
  .col-md-5
    opacity 0
  p 
    margin-top 40px
    margin-bottom 40px
.feature-fade-in
  animation featureFadeIn .8s ease-in forwards
  
/*++++++++++++++++ Footer ++++++++++++++++*/

footer
  img 
    height 30px
    
    
/* Animations */   
  
@keyframes featureFadeIn
  0%
    opacity 0
    transform translateY(30px)
  100%
    opacity 1
    transform translateY(0px)
    
@keyframes dragAndDrop
  0%
    opacity 0
    top 30.5%
    left 4.3%
  10%
    opacity 1
  100%
    opacity 1
    top 75%
    left 74%
@keyframes dragAndDropSmall
  0%
    opacity 0
    top 30.5%
    left 4.3%
  10%
    opacity 1
  100%
    opacity 1
    top 75.2%
    left 73.3%
    
@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
    
@keyframes fadeOut
  0%
    opacity 1
  100%
    opacity 0
    
.animated
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;


.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}



/*++++++++++++++++ Media Screen Edits ++++++++++++++++*/

/*Larger then 760*/

@media screen and (min-width: 760px)
  
  .jumbotron
    h1
      font-size 40px

/*Smaller than 760*/

@media screen and (max-width: 760px)
  #navbar
    background-color white
    border-radius 3px
    box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4)
    .call-to-action
      margin-left 10px !important
      display inline-block !important  
  .feature-graphic-container
    width 80%
    margin-left 10%
  .drag-drop
    width 18%
    animation dragAndDropSmall 1s 2s ease-in-out forwards
  .featurette-divider
    margin 30px 0 15px 0
  .featurette
    .lead
      margin-top 20px
  .reviews
    .col-lg-4
      margin-bottom 50px
  
    
/* Smaller than 400px */

@media screen and (max-width: 400px)
  
  .navbar
    padding 0 5px 0 5px
  .navbar-toggle
    margin-right 0px
  .navbar-brand
    padding-left 0px
  .jumbotron
    margin-bottom 75px
    h1
      margin 80px 0 10px 0
  .feature-graphic-container
    width 100%
    margin-left 0%
  footer
    img 
      height 25px
    p 
      font-size 12px
      .pull-right
        padding-top 4px
      
  
